.home .container {
  margin-top: 100px;
}

.loading {
  padding: 10px;
}

.home .trophy {
  width: 50%;
  padding: 20px 0px;
}

.container {
  margin-top: 100px;
}

.b {
  border: 1px solid grey;
}

.dash-navbar {
  margin-bottom: 40px;
  padding-bottom: 10px;
  border-bottom: 1px solid whitesmoke;
}

.btn {
  margin: 0px 2px;
}

.code-editor {
  border: 1px solid whitesmoke;
  width: 100%;
  height: 100%;
  min-height: 500px;
}

.tc pre {
  width: 100%;
  background: whitesmoke;
  padding: 4px;
  color: black;
}

.tc {
  margin-bottom: 5px;
}

.container {
  margin-bottom: 50px;
}

.fail {
  border-color: red i !important;
}

.pass {
  border-color: green im !important;
}

.verdict {
  padding: 10px;
  font-weight: bold;
  background: rgb(218, 198, 243);
  display: inline-block;
  border-radius: 5px;
}

.pass .verdict {
  color: green;
  background: lightgoldenrodyellow;
}

.fail .verdict {
  color: red;
  background: wheat;
}
